.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
  
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(236, 185, 4);
      text-align: center;
    }
    .link {
      width: max-content;
      text-align: center;
      font-size: 14px;
      border-bottom: 1px solid rgb(19, 176, 255);
      color: rgb(19, 176, 255);
      margin-top: 5px;
      text-decoration: none;
      cursor: pointer;
    }
    .link:hover {
      color: rgb(236, 185, 4);
      border-bottom: 1px solid rgb(236, 185, 4);
    }
  }

  .right {
    .icon {
      font-size: 50px;
      color: rgb(19, 176, 255);
      margin-top: 10px;
    }
  }
}
