.featured {
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 10px 10px 5px rgba(201, 201, 201, 0.47);
    padding: 5px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(155, 0, 114);
      }
  
    .bottom {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: -5px;
  
      .title {
        font-weight: 400;
        color: rgb(155, 0, 114);
        margin-bottom: 1px;
      }
  
      .amount {
        margin-top: 1px;
        font-size: 30px;
      }
    }
  }